body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffeef8; /* Latar belakang lembut */
    font-family: 'Arial', sans-serif;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    border: 2px solid #ff4d94; /* Warna border */
}

h1 {
    margin-bottom: 10px;
    color: #ff4d94; /* Warna judul */
}

p {
    margin: 10px 0;
}

.fotodepan{
    vertical-align: baseline;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff4d94; /* Warna border input */
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.key {
    padding: 15px;
    background-color: #ff4d94; /* Warna tombol */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.key:hover {
    background-color: #ff1a75; /* Warna tombol saat hover */
}

#message {
    margin-top: 10px;
    color: red;
}